<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RSI Medications</title>
  <style>body {
      font-family: "sans";
      padding: 10px;
    }</style>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
</head>

<body>
  <h2>RSI Medications</h2>
  <div id="meds">
    <label for="wt">Patient's weight in kg</label>
    <input id="wt" type="number" v-model:value="weight" style="color:purple">
    <div v-for="(classcontents, classname) in meds">
      <h3>{{classname}}</h3>
      <ul v-for="(value, name) in classcontents">
        <li>
          {{name}} {{value}} mg/kg
          <span style="color:purple">= {{multiply(weight, value)}} mg</span>
        </li>
      </ul>
    </div>
  </div>
  <script src="/main.c39d6dcf.js"></script>
</body>
</html>